.header {

	text-align: center; 

		li {

		padding-top: 20px;
		background-color: red;
		width: 50%;
		display: block;
		margin: 0px auto;
		border: 2px solid black;
		margin-top: 20px;
	}
}

.cool {
	
	color: #fff;
	text-transform: uppercase;

	li {

		background-color: blue;
		border: 1px solid white;
	}
}

.header1 {

	text-align: center; 
	margin-top: 30px; 

		li {

		padding-top: 20px;
		background-color: red;
		width: 50%;
		display: block;
		margin: 0px auto;
		border: 2px solid black;
		margin-top: 20px;
	}
}