
/**
* global */

$body-bg-color:#edeff0;
$body-text-color:#222;
$body-font-family:'Ubuntu', sans-serif;;
$body-font-size:100%;
$body-line-height:150%;

$link-color:green;
$link-weight:bold;


/**
* colors */

$primary-color:#e0e0e0;
$success-color:#5ebc41;
$error-color:#bb2828;

/**
* container */

$container-bg-color:#fff;
$container-border-radius:5px;
$container-shadow: 0 2px 0 rgba (0,0,0,.1);
$container-footer-top-border: 4px solid #e8ebed;

/**
* buttons */

$buttons-border-radius:5px;
$buttons-bg-color:$primary-color;
$button-error-text-color:#fff;
$button-sucess-text-color:#fff;

/**
* nav */

$nav-bg-color:#444;
$nav-text-color:#fff;
$nav-link-color:#666;

/** fonts */



