
/**           
* global */

$body-bg-color:#fff;
$body-text-color: #3a3a3a;
$body-text-licolor: #a4a4a4;
$body-font-family:'Ubuntu', sans-serif;
$body-font-family-2: 'Playfair Display', serif;
$footer-bg-color: #3b3b3b;
$body-font-size:100%;
$body-line-height:150%;

$link-color:#69eb09;
$link-weight:bold;


/**
* colors */

$primary-color:#f34949;
$success-color:#5ebc41;
$error-color:#bb2828;

/**
* container */

$container-bg-color:#fff;
$container-border-radius:5px;


/**
* buttons */

$buttons-border-radius:5px;
$buttons-bg-color:$primary-color;
$button-error-text-color:#fff;
$button-sucess-text-color:#fff;

/**
* nav */

$nav-bg-color:#444;
$nav-text-color:#fff;
$nav-link-color:#666;

/** fonts */



